::selection
{
	color: #FF0099;
	background-color: #FFF66;
}

*
{
	padding: 0px;
	margin: 0px;
}

body
{
	background-color: #D8D8D8  ;
	font-family: 'century gothic';
	color: #707070;
}

header
{
	font-style: narrower;
}

h1
{
	text-align: center;
}

.NAV_LI
{
}
.NAV_LI :hover
{	
}

.HZL_NAV
{
	list-style: none;
	text-align: center;
	float: right;
	position: relative;
	margin-top:0.7%;
	color: #404040;

}
.HZL_NAV:hover
{
	color: #800000;

}

.HZL_NAV li
{
	Display: inline;
	transition: ease 1s;
	padding-top: 50%;
	padding-bottom: 10%;
	margin-left: -4px;
	color: #404040 ;
}
.HZL_NAV li:hover
{
	background-color: #F8F8F8;
	color: #800000;
}

.HZL_NAV a 
{
	text-decoration: none;
	display: inline-block;
    padding: 6px;
	cursor: pointer;
	color:	#404040 ;
	transition: ease 1s;
}
.HZL_NAV a:hover
{
	color: #800000;
}